@import url(https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: auto;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 500;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 48.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: relative;
  z-index: 10;
}

.header__container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2.1875rem;
  left: 0;
  right: 0;
}

.header__logo {
  display: block;
  padding-right: 1.25rem;
}

.header__logo:not(:last-child) {
  margin-bottom: 1.25rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  margin-right: 2.6875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  line-height: normal;
}

@supports (font-size: clamp( 0.75rem , 0.9569672131rem  +  -0.4098360656vw , 0.875rem )) {
  .menu__link {
    font-size: clamp( 0.75rem , 0.9569672131rem  +  -0.4098360656vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.9569672131rem  +  -0.4098360656vw , 0.875rem )) {
  .menu__link {
    font-size: calc(0.875rem + -0.125 * (100vw - 20rem) / 30.5);
  }
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__button {
  color: #646d70;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
  padding: 0.8333333333em 1.25em;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  margin-right: 1.875rem;
}

.menu__button:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
}

.menu__button:active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.footer {
  padding: 2.0625rem 0px;
  background: #222f33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.25rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__email:hover {
  text-decoration: underline;
}

.footer__privacy-cookies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__privacy:hover,
.footer__cookies:hover {
  text-decoration: underline;
}

.footer__cookies {
  margin-left: 1.875rem;
}

.main-block {
  position: relative;
  overflow: hidden;
}

.main-block__container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 11.5625rem;
  left: 0;
  right: 0;
}

.main-block__content {
  width: 100%;
  max-width: 27.5rem;
  padding-right: 1.25rem;
}

.main-block__title {
  font-size: 1rem;
  line-height: normal;
}

.main-block__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.main-block__sub-title {
  font-weight: 900;
  line-height: normal;
}

@supports (font-size: clamp( 1.5rem , 1.2540983607rem  +  1.2295081967vw , 1.875rem )) {
  .main-block__sub-title {
    font-size: clamp( 1.5rem , 1.2540983607rem  +  1.2295081967vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.2540983607rem  +  1.2295081967vw , 1.875rem )) {
  .main-block__sub-title {
    font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 30.5);
  }
}

.main-block__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (height: clamp( 25rem , 16.8032786885rem  +  40.9836065574vw , 37.5rem )) {
  .main-block__img {
    height: clamp( 25rem , 16.8032786885rem  +  40.9836065574vw , 37.5rem );
  }
}

@supports not (height: clamp( 25rem , 16.8032786885rem  +  40.9836065574vw , 37.5rem )) {
  .main-block__img {
    height: calc(25rem + 12.5 * (100vw - 20rem) / 30.5);
  }
}

.presentation {
  position: relative;
}

.presentation::before {
  content: "";
  background-color: #fff;
  height: 2.375rem;
  position: absolute;
  width: 61.6%;
  left: 0;
}

.presentation__container {
  position: relative;
}

.presentation__body {
  position: relative;
  z-index: 5;
  margin-top: -2.3125rem;
}

@supports (padding-top: clamp( 1.875rem , 0.5635245902rem  +  6.5573770492vw , 3.875rem )) {
  .presentation__body {
    padding-top: clamp( 1.875rem , 0.5635245902rem  +  6.5573770492vw , 3.875rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.5635245902rem  +  6.5573770492vw , 3.875rem )) {
  .presentation__body {
    padding-top: calc(1.875rem + 2 * (100vw - 20rem) / 30.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.768442623rem  +  5.5327868852vw , 3.5625rem )) {
  .presentation__body {
    padding-bottom: clamp( 1.875rem , 0.768442623rem  +  5.5327868852vw , 3.5625rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.768442623rem  +  5.5327868852vw , 3.5625rem )) {
  .presentation__body {
    padding-bottom: calc(1.875rem + 1.6875 * (100vw - 20rem) / 30.5);
  }
}

.presentation__contant {
  max-width: 25rem;
}

.presentation__contant > *:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.presentation__title {
  color: #222f33;
  font-weight: 900;
  line-height: normal;
}

@supports (font-size: clamp( 1.5rem , 1.2540983607rem  +  1.2295081967vw , 1.875rem )) {
  .presentation__title {
    font-size: clamp( 1.5rem , 1.2540983607rem  +  1.2295081967vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.2540983607rem  +  1.2295081967vw , 1.875rem )) {
  .presentation__title {
    font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 30.5);
  }
}

.presentation__text {
  color: #646d70;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.8571428571;
}

.presentation__button {
  color: #646d70;
  display: inline-block;
  padding: 0.8333333333em 1.25em;
  border-radius: 4px;
  border: 1px solid #646d70;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
}

.presentation__button:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.presentation__button:active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.presentation__sliders {
  position: absolute;
  top: -2.4375rem;
  z-index: 5;
  overflow-x: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (margin-left: clamp( 0.0000000625rem , 2.1802325116rem  +  -4.6511625581vw , 1.25rem )) {
  .presentation__sliders {
    margin-left: clamp( 0.0000000625rem , 2.1802325116rem  +  -4.6511625581vw , 1.25rem );
  }
}

@supports not (margin-left: clamp( 0.0000000625rem , 2.1802325116rem  +  -4.6511625581vw , 1.25rem )) {
  .presentation__sliders {
    margin-left: calc(1.25rem + -1.2499999375 * (100vw - 20rem) / 26.875);
  }
}

@supports (max-width: clamp( 18.125rem , 16.6905737705rem  +  7.1721311475vw , 20.3125rem )) {
  .presentation__sliders {
    max-width: clamp( 18.125rem , 16.6905737705rem  +  7.1721311475vw , 20.3125rem );
  }
}

@supports not (max-width: clamp( 18.125rem , 16.6905737705rem  +  7.1721311475vw , 20.3125rem )) {
  .presentation__sliders {
    max-width: calc(18.125rem + 2.1875 * (100vw - 20rem) / 30.5);
  }
}

@supports (right: clamp( -2.8125rem , 21.7410714286rem  +  -39.2857142857vw , 0.625rem )) {
  .presentation__sliders {
    right: clamp( -2.8125rem , 21.7410714286rem  +  -39.2857142857vw , 0.625rem );
  }
}

@supports not (right: clamp( -2.8125rem , 21.7410714286rem  +  -39.2857142857vw , 0.625rem )) {
  .presentation__sliders {
    right: calc(0.625rem + -3.4375 * (100vw - 53.75rem) / 8.75);
  }
}

.presentation-pagination {
  position: absolute;
  right: 0;
  bottom: 1rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.presentation-pagination .swiper-pagination-bullet {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.4;
}

.presentation-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 0.5rem;
}

.presentation-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.innovatie {
  background: #222f33;
  position: relative;
}

@supports (margin-bottom: clamp( 1.875rem , -0.3790983607rem  +  11.2704918033vw , 5.3125rem )) {
  .innovatie {
    margin-bottom: clamp( 1.875rem , -0.3790983607rem  +  11.2704918033vw , 5.3125rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.3790983607rem  +  11.2704918033vw , 5.3125rem )) {
  .innovatie {
    margin-bottom: calc(1.875rem + 3.4375 * (100vw - 20rem) / 30.5);
  }
}

@supports (margin-top: clamp( -8.6875rem , 1.3308823529rem  +  -16.0294117647vw , -1.875rem )) {
  .innovatie {
    margin-top: clamp( -8.6875rem , 1.3308823529rem  +  -16.0294117647vw , -1.875rem );
  }
}

@supports not (margin-top: clamp( -8.6875rem , 1.3308823529rem  +  -16.0294117647vw , -1.875rem )) {
  .innovatie {
    margin-top: calc(-1.875rem + -6.8125 * (100vw - 20rem) / 42.5);
  }
}

.innovatie::before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 61.6%;
  left: 0;
  top: -0.0625rem;
}

@supports (height: clamp( 1.5625rem , -3.1096311475rem  +  23.3606557377vw , 8.6875rem )) {
  .innovatie::before {
    height: clamp( 1.5625rem , -3.1096311475rem  +  23.3606557377vw , 8.6875rem );
  }
}

@supports not (height: clamp( 1.5625rem , -3.1096311475rem  +  23.3606557377vw , 8.6875rem )) {
  .innovatie::before {
    height: calc(1.5625rem + 7.125 * (100vw - 20rem) / 30.5);
  }
}

@supports (padding-top: clamp( 1.875rem , -5.5020491803rem  +  36.8852459016vw , 13.125rem )) {
  .innovatie__container {
    padding-top: clamp( 1.875rem , -5.5020491803rem  +  36.8852459016vw , 13.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -5.5020491803rem  +  36.8852459016vw , 13.125rem )) {
  .innovatie__container {
    padding-top: calc(1.875rem + 11.25 * (100vw - 20rem) / 30.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.2151639344rem  +  10.4508196721vw , 5.0625rem )) {
  .innovatie__container {
    padding-bottom: clamp( 1.875rem , -0.2151639344rem  +  10.4508196721vw , 5.0625rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.2151639344rem  +  10.4508196721vw , 5.0625rem )) {
  .innovatie__container {
    padding-bottom: calc(1.875rem + 3.1875 * (100vw - 20rem) / 30.5);
  }
}

.innovatie__title {
  font-weight: 900;
  line-height: normal;
}

@supports (font-size: clamp( 1.5rem , 1.2540983607rem  +  1.2295081967vw , 1.875rem )) {
  .innovatie__title {
    font-size: clamp( 1.5rem , 1.2540983607rem  +  1.2295081967vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.2540983607rem  +  1.2295081967vw , 1.875rem )) {
  .innovatie__title {
    font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 30.5);
  }
}

.innovatie__title:not(:last-child) {
  margin-bottom: 0.2666666667em;
}

.innovatie__contant {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, auto));
  -webkit-column-gap: 2.6875rem;
     -moz-column-gap: 2.6875rem;
          column-gap: 2.6875rem;
  row-gap: 1.25rem;
}

.innovatie__text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.7142857143;
}

@supports (padding-bottom: clamp( 1.875rem , -0.3790983607rem  +  11.2704918033vw , 5.3125rem )) {
  .info {
    padding-bottom: clamp( 1.875rem , -0.3790983607rem  +  11.2704918033vw , 5.3125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.3790983607rem  +  11.2704918033vw , 5.3125rem )) {
  .info {
    padding-bottom: calc(1.875rem + 3.4375 * (100vw - 20rem) / 30.5);
  }
}

.info__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, auto));
  row-gap: 1.25rem;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -1.0040983607rem  +  11.2704918033vw , 4.6875rem )) or (column-gap: clamp( 1.25rem , -1.0040983607rem  +  11.2704918033vw , 4.6875rem ))) {
  .info__container {
    -webkit-column-gap: clamp( 1.25rem , -1.0040983607rem  +  11.2704918033vw , 4.6875rem );
       -moz-column-gap: clamp( 1.25rem , -1.0040983607rem  +  11.2704918033vw , 4.6875rem );
            column-gap: clamp( 1.25rem , -1.0040983607rem  +  11.2704918033vw , 4.6875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.0040983607rem  +  11.2704918033vw , 4.6875rem )) or (column-gap: clamp( 1.25rem , -1.0040983607rem  +  11.2704918033vw , 4.6875rem ))) {
  .info__container {
    -webkit-column-gap: calc(1.25rem + 3.4375 * (100vw - 20rem) / 30.5);
       -moz-column-gap: calc(1.25rem + 3.4375 * (100vw - 20rem) / 30.5);
            column-gap: calc(1.25rem + 3.4375 * (100vw - 20rem) / 30.5);
  }
}

.info__img {
  max-width: 22.1875rem;
}

.info img {
  width: 100%;
}

.info__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.4375rem, auto));
}

@supports ((-moz-column-gap: clamp( 1.25rem , -0.3893442623rem  +  8.1967213115vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -0.3893442623rem  +  8.1967213115vw , 3.75rem ))) {
  .info__items {
    -webkit-column-gap: clamp( 1.25rem , -0.3893442623rem  +  8.1967213115vw , 3.75rem );
       -moz-column-gap: clamp( 1.25rem , -0.3893442623rem  +  8.1967213115vw , 3.75rem );
            column-gap: clamp( 1.25rem , -0.3893442623rem  +  8.1967213115vw , 3.75rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -0.3893442623rem  +  8.1967213115vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -0.3893442623rem  +  8.1967213115vw , 3.75rem ))) {
  .info__items {
    -webkit-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 30.5);
       -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 30.5);
            column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 30.5);
  }
}

@supports (row-gap: clamp( 1.25rem , 0.5532786885rem  +  3.4836065574vw , 2.3125rem )) {
  .info__items {
    row-gap: clamp( 1.25rem , 0.5532786885rem  +  3.4836065574vw , 2.3125rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 0.5532786885rem  +  3.4836065574vw , 2.3125rem )) {
  .info__items {
    row-gap: calc(1.25rem + 1.0625 * (100vw - 20rem) / 30.5);
  }
}

.item-info__title {
  font-size: 1.125rem;
  font-weight: 900;
  line-height: normal;
  color: #222f33;
}

.item-info__text {
  color: #646d70;
  font-weight: 400;
  line-height: 1.8333333333;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 600px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 750px) {
  .presentation {
    padding-bottom: 1.875rem;
    padding-top: 1.875rem;
  }

  .presentation__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1.875rem;
    text-align: center;
  }

  .presentation__button {
    width: 100%;
  }

  .presentation__sliders {
    position: relative;
  }
}

@media (max-width: 600px) {
  .header__container {
    top: 1.25rem;
    text-align: center;
  }

  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}